{{ define "main" }}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
  <div class='hx-mx-auto hx-flex {{ partial "utils/page-width" . }}'>
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    {{ partial "toc.html" . }}
    <article class="hx-w-full hx-break-words hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-min-w-0 hx-justify-center hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        <h1 class="hx-text-center hx-mt-2 hx-text-4xl hx-font-bold hx-tracking-tight hx-text-slate-900 dark:hx-text-slate-100">{{ .Title }}</h1>
        <div class="content">
          {{ .Content }}
          <!-- Documentation Section -->
          <div id="documentation">
            <h2 class="text-2xl font-bold text-gray-900 dark:text-gray-100" style=" text-align: center;">Documentation</h2>
            {{ $docs := where .Site.RegularPages "Section" "docs" }}
              {{ range $docs }}
                  <div class="max-w-sm w-full lg:max-w-full lg:flex rounded overflow-hidden shadow-lg border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal" style="margin: 10px; color: black;">
                    <a href="{{ .RelPermalink }}" style="text-decoration: none;">
                    <div class="mb-8">
                      <div class="text-gray-900 font-bold text-xl mb-2">{{ .Title }}</div>
                        <!-- <img src="{{ .Site.BaseURL }}/images/logo.jpeg" alt="Logo" height="10px"> -->
                      <p class="text-gray-700 text-base">{{.Summary}}</p>
                    </div>
                  </a>

                    <div class="flex items-center">
                      <div class="text-sm">
                        <p class="text-gray-600">{{.Date}}</p>
                      </div>
                    </div>
                  </div>
              {{ end }}
            </div>
          </div>
          <!-- Blog Section -->
          <div id="blog">
            <h2 class="text-2xl font-bold text-gray-900 dark:text-gray-100" style=" text-align: center;">Blog</h2>
            {{ $blogPosts := where .Site.RegularPages "Section" "blog" }}
              {{ range $blogPosts }}
                  
                  <div class="max-w-sm w-full lg:max-w-full lg:flex rounded overflow-hidden shadow-lg border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal" style="margin: 10px; color: black;">
                    <a href="{{ .RelPermalink }}" style="text-decoration: none;">
                    <div class="mb-8">
                      <div class="text-gray-900 font-bold text-xl mb-2">{{ .Title }}</div>
                        <!-- <img src="{{ .Site.BaseURL }}/images/logo.jpeg" alt="Logo" height="10px"> -->
                      <p class="text-gray-700 text-base">{{.Summary}}</p>
                    </div>
                  </a>

                    <div class="flex items-center">
                      <div class="text-sm">
                        <p class="text-gray-600">{{.Date}}</p>
                      </div>
                    </div>
                  </div>
              {{ end }}
            </div>
          </div>
        </div>
      </main>
    </article>
  </div>
{{ end }}
